@media screen and (min-width: 640px) {
    body {
        background-image: url(bg0.png);
} 

	#website{
		color: black;
		font-size: 12px;
	}

	h1{
	color: #00e68a;
	}

	h2{
		color: #00995c;
	}

	p{
		color: #ffffff;
	}

	@media screen and (max-width: 1030px) {

    body {
        background-image: url(bg2.png);
} 

	#website{
		color: black;
		font-size: 12px;
	}

	h1{
	color: #00e68a;
	}

	h2{
		color: #00995c;
	}

	p{
		color: #ffffff;
	}
}